<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/dists/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/fo/semantic.min.css">
    <script src="/fo/semantic.min.js"></script>
    <title>Admin Page</title>
    <style>
      .unmatched-row {
        background-color: rgba(255, 0, 0, 0.1); /* Slight red background color */
      }
      .no-lunch {
        background-color: rgba(242, 242, 107, 0.3);
      }
      .edited-time {
        background-color: rgba(255, 162, 0, 0.3);
      }
    </style>
</head>
<body onload="load()">
  <h1 class="ui center aligned header">Welcome to the Admin Page!</h1>
  <h2 class="ui center aligned header">Clocking Table</h2>
  <div class="ui container">
    <div class="ui six wide center floated search selection dropdown">
      <input type="hidden" name="employee">
      <i class="dropdown icon"></i>
      <div class="default text">Select Employee</div>
      <div class="menu">
        <% allUsers.forEach(function(user) { %>
          <div class="item" id="<%= user %>" data-value="<%= user.charAt(user.length - 1) == '@' ? user.slice(0, user.length - 1) : user %>"><%= user.charAt(user.length - 1) == '@' ? user.slice(0, user.length - 1) : user %></div>
        <% }); %>
      </div>
    </div>
    <button type="submit" class="medium ui button" id="/">Go to Home Page</button>
    <% var payStart = new Date("7/23/2023"); %>
    <% const today = new Date(); %>
    <% while (payStart.getTime() < today.getTime()) { %>
      <% payStart.setDate(payStart.getDate() + 14); %>
    <% } %>
    <% payStart.setDate(payStart.getDate() - 14); %>
    <h3 class="ui right aligned header" data-time= '<%= payStart %>' id="totalPayTime"></h3>
<% if (buttonPresses.length === 0 && Object.keys(lastPressByPerson).length === 0) { %>
  <p>No button presses recorded yet.</p>
<% } else { %>
  <table class="ui scrolling table">
    <thead>
      <tr>
        <th class="two wide">Name</th>
        <th class="two wide">Date</th>
        <th class="three wide">Time (Orange = edited) </th>
        <th class="three wide">Hours (Yellow = no lunch)</th>
        <th>Edit Hours</th>
      </tr>
    </thead>

    <tbody id="tablebody">
      
    </tbody>
    
    
    
    
    
  </table>
<% } %>
<br>
  <div class="medium ui input">
    <input type="text" id="newUserName" placeholder="New...">
  </div>
  <button type="submit" class="small green ui button" id="addNew">Add a New User</button>
</div>

<script src="js/buttonnav.js"></script>
<script src="js/dropdown.js"></script>
<script src="js/add.js"></script>
<script src="js/updateclockout.js"></script>
</body>
</html>
